{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/protected.css' %}">
    <title>Мой профиль</title>
</head>
<body>
    <div class="header"><div><a class="posts" href="{% url 'home' %}"><h2>Главная</h2></div></a>
  <div><a class="post" href="{% url 'protected' %}"><h2>Мой профиль</h2></div></a>
  <div><a class="posts" href="{% url 'create_post' %}"><h2>Опубликовать пост</h2></div></a>
  <div><a class="posts" href="{% url 'create_audio' %}"><h2>Записать аудио</h2></div></a>
  <div><a class="posts" href="{% url 'logout' %}"><h2>Выйти</h2></div></a>
  </div></div>
  <br><br><br><br><br>
    <h1>Мой профиль</h1  >
    <p>Имя: {{ user.get_full_name }}</p>
    <p>Почта: {{ user.email }}</p>
    <img src="{{ user.avatar.url }}" alt="" style="border-radius: 10%; border: 5px solid white; max-width: 200px; max-height: 200px;">
      <!-- <a href="{% url 'edit' %}">Редактировать</a> -->
</body>
</html>